<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
         point="org.eclipse.ui.newWizards">
      <category name="WPILib RobotPy Development" id="io.github.robotpy.plugins.robotpy">
      </category>
      <wizard
            category="io.github.robotpy.plugins.robotpy"
            class="io.github.robotpy.plugins.robotpy.wizards.newproject.NewRobotpyWizard"
            icon="resources/icons/robotpy.png"
            id="io.github.robotpy.plugins.robotpy.wizards.newproject.NewJavaWizard"
            name="RobotPy Project"
            finalPerspective="org.python.pydev.ui.PythonPerspective"
            preferredPerspectives="org.python.pydev.ui.PythonPerspective"
            project="true">
      </wizard>
      <wizard
            category="io.github.robotpy.plugins.robotpy"
            class="io.github.robotpy.plugins.robotpy.wizards.examples.ExampleRobotpyWizard"
            icon="resources/icons/robotpy.png"
            id="io.github.robotpy.plugins.robotpy.wizards.examples.ExampleWizard"
            name="RobotPy Example Project"
            finalPerspective="org.python.pydev.ui.PythonPerspective"
            preferredPerspectives="org.python.pydev.ui.PythonPerspective"
            project="true">
      </wizard>
      <wizard
            category="io.github.robotpy.plugins.robotpy"
            class="io.github.robotpy.plugins.robotpy.wizards.file_template.CommandWizard"
            icon="resources/icons/Command.png"
            id="io.github.robotpy.plugins.robotpy.wizards.file_template.CommandWizard"
            finalPerspective="org.python.pydev.ui.PythonPerspective"
            preferredPerspectives="org.python.pydev.ui.PythonPerspective"
            name="Command">
      </wizard>
      <wizard
            category="io.github.robotpy.plugins.robotpy"
            class="io.github.robotpy.plugins.robotpy.wizards.file_template.CommandGroupWizard"
            icon="resources/icons/CommandGroup.png"
            id="io.github.robotpy.plugins.robotpy.wizards.file_template.CommandGroupWizard"
            finalPerspective="org.python.pydev.ui.PythonPerspective"
            preferredPerspectives="org.python.pydev.ui.PythonPerspective"
            name="CommandGroup">
      </wizard>
      <wizard
            category="io.github.robotpy.plugins.robotpy"
            class="io.github.robotpy.plugins.robotpy.wizards.file_template.SubsystemWizard"
            icon="resources/icons/Subsystem.png"
            id="io.github.robotpy.plugins.robotpy.wizards.file_template.SubsystemWizard"
            finalPerspective="org.python.pydev.ui.PythonPerspective"
            preferredPerspectives="org.python.pydev.ui.PythonPerspective"
            name="Subsytem">
      </wizard>
      <wizard
            category="io.github.robotpy.plugins.robotpy"
            class="io.github.robotpy.plugins.robotpy.wizards.file_template.PIDSubsystemWizard"
            icon="resources/icons/PIDSubsystem.png"
            id="io.github.robotpy.plugins.robotpy.wizards.file_template.PIDSubsystemWizard"
            finalPerspective="org.python.pydev.ui.PythonPerspective"
            preferredPerspectives="org.python.pydev.ui.PythonPerspective"
            name="PIDSubsystem">
      </wizard>
      <wizard
            category="io.github.robotpy.plugins.robotpy"
            class="io.github.robotpy.plugins.robotpy.wizards.file_template.TriggerWizard"
            icon="resources/icons/Button.png"
            id="io.github.robotpy.plugins.robotpy.wizards.file_template.TriggerWizard"
            finalPerspective="org.python.pydev.ui.PythonPerspective"
            preferredPerspectives="org.python.pydev.ui.PythonPerspective"
            name="Trigger">
      </wizard>
   </extension>
   
   <!-- various definitions we use for DRY -->
   <extension point="org.eclipse.core.expressions.definitions">
      <definition id="io.github.robotpy.plugins.robotpy.enablement.allow_file_wizard">
         <and>
	       <or>
	          <instanceof value="org.python.pydev.navigator.elements.PythonFolder"/>
              <instanceof value="org.python.pydev.navigator.elements.PythonSourceFolder"/>
	          <adapt type="org.eclipse.core.resources.IProject">
	             <test
	                   property="org.eclipse.core.resources.projectNature"
	                   value="org.python.pydev.pythonNature"/>
	          </adapt>
	       </or>
	       <adapt type="org.eclipse.core.resources.IProject">
              <test
                    property="org.eclipse.core.resources.projectNature"
                    value="edu.wpi.first.wpilib.plugins.core.nature.FRCProjectNature"/>
           </adapt>
         </and>
      </definition>
      <definition id="io.github.robotpy.plugins.robotpy.enablement.allow_launch_shortcut">
       <with variable="selection">
       	  <count value="1"/>
          <iterate>
             <and>
                <or>
                    <and>
                        <test property="org.eclipse.debug.ui.matchesPattern" value="robot.py"/>
                        <test property="org.eclipse.debug.ui.projectNature" value="org.python.pydev.pythonNature"/>
                    </and>
                    <and>
                        <adapt type="org.eclipse.core.resources.IProject" />
                        <test property="org.eclipse.debug.ui.projectNature" value="edu.wpi.first.wpilib.plugins.core.nature.FRCProjectNature"/>
                        <test property="org.eclipse.debug.ui.projectNature" value="org.python.pydev.pythonNature"/>
                    </and>
                </or>
      		    <test property="org.python.pydev.debug.ui.interpreterType" value="python"/>
             </and>
          </iterate>
       </with>
      </definition>
   </extension>
   
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            menuGroupId="io.github.robotpy.plugins.robotpy"
            type="new"
            wizardId="io.github.robotpy.plugins.robotpy.wizards.file_template.CommandWizard">
         <enablement>
            <reference definitionId="io.github.robotpy.plugins.robotpy.enablement.allow_file_wizard" />
         </enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="io.github.robotpy.plugins.robotpy"
            type="new"
            wizardId="io.github.robotpy.plugins.robotpy.wizards.file_template.CommandGroupWizard">
         <enablement>
            <reference definitionId="io.github.robotpy.plugins.robotpy.enablement.allow_file_wizard" />
         </enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="io.github.robotpy.plugins.robotpy"
            type="new"
            wizardId="io.github.robotpy.plugins.robotpy.wizards.file_template.SubsystemWizard">
         <enablement>
            <reference definitionId="io.github.robotpy.plugins.robotpy.enablement.allow_file_wizard" />
         </enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="io.github.robotpy.plugins.robotpy"
            type="new"
            wizardId="io.github.robotpy.plugins.robotpy.wizards.file_template.PIDSubsystemWizard">
         <enablement>
            <reference definitionId="io.github.robotpy.plugins.robotpy.enablement.allow_file_wizard" />
         </enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="io.github.robotpy.plugins.robotpy"
            type="new"
            wizardId="io.github.robotpy.plugins.robotpy.wizards.file_template.TriggerWizard">
         <enablement>
            <reference definitionId="io.github.robotpy.plugins.robotpy.enablement.allow_file_wizard" />
         </enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="io.github.robotpy.plugins.robotpy.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   
   <!-- launch shortcuts -->
   <extension point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="io.github.robotpy.plugins.robotpy.launching.DeployLaunchShortcut"
            description="Deploy the RobotPy project to the roboRIO"
            icon="resources/icons/robotpy.png"
            id="io.github.robotpy.plugins.robotpy.launching.deploy"
            label="RobotPy Deploy"
            modes="run">
            <contextualLaunch>
            <enablement>
	           <reference definitionId="io.github.robotpy.plugins.robotpy.enablement.allow_launch_shortcut" />
	        </enablement>
         </contextualLaunch>
         <description
               description="Deploy the RobotPy project to the roboRIO board."
               mode="run">
         </description>
         <!-- TODO <description
               description="Deploy the WPILib project to the roboRIO board and debug it."
               mode="debug">
         </description> -->
      </shortcut>
      <shortcut
            class="io.github.robotpy.plugins.robotpy.launching.DeployNoTestsLaunchShortcut"
            description="Deploy the RobotPy project to the roboRIO without running tests (not recommended)"
            icon="resources/icons/robotpy.png"
            id="io.github.robotpy.plugins.robotpy.launching.deploy"
            label="RobotPy Deploy (no tests)"
            modes="run">
            <contextualLaunch>
            <enablement>
	           <reference definitionId="io.github.robotpy.plugins.robotpy.enablement.allow_launch_shortcut" />
	        </enablement>
         </contextualLaunch>
         <description
               description="Deploy the RobotPy project to the roboRIO board without running tests (not recommended)."
               mode="run">
         </description>
         <!-- TODO <description
               description="Deploy the WPILib project to the roboRIO board and debug it."
               mode="debug">
         </description> -->
      </shortcut>
      <shortcut
            class="io.github.robotpy.plugins.robotpy.launching.PyfrcSimulateLaunchShortcut"
            description="Runs pyfrc simulation"
            icon="resources/icons/robotpy.png"
            id="io.github.robotpy.plugins.robotpy.launching.deploy"
            label="RobotPy Sim (pyfrc)"
            modes="run, debug">
            <contextualLaunch>
            <enablement>
	           <reference definitionId="io.github.robotpy.plugins.robotpy.enablement.allow_launch_shortcut" />
	        </enablement>
         </contextualLaunch>
         <description
               description="Runs pyfrc simulation"
               mode="run">
         </description>
         <!-- TODO <description
               description="Deploy the WPILib project to the roboRIO board and debug it."
               mode="debug">
         </description> -->
      </shortcut>
      <shortcut
            class="io.github.robotpy.plugins.robotpy.launching.TestLaunchShortcut"
            description="Runs robot unit tests using pyfrc"
            icon="resources/icons/robotpy.png"
            id="io.github.robotpy.plugins.robotpy.launching.deploy"
            label="RobotPy Tests"
            modes="run, debug">
            <contextualLaunch>
            <enablement>
	           <reference definitionId="io.github.robotpy.plugins.robotpy.enablement.allow_launch_shortcut" />
	        </enablement>
         </contextualLaunch>
         <description
               description="Runs robot unit tests using pyfrc"
               mode="run">
         </description>
         <!-- TODO <description
               description="Deploy the WPILib project to the roboRIO board and debug it."
               mode="debug">
         </description> -->
      </shortcut>
      
      <!-- <shortcut
            class="io.github.robotpy.plugins.robotpy.launching.SimulateLaunchShortcut"
            description="Test your WPILib program with the Gazebo simulator."
            icon="resources/icons/Gazebo.png"
            id="io.github.robotpy.plugins.robotpy.launching.simulate"
            label="WPILib Java Simulation"
            modes="run,debug">
            <contextualLaunch>
            <enablement>
	           <reference definitionId="io.github.robotpy.plugins.robotpy.enablement.allow_launch_shortcut" />
	        </enablement>
         </contextualLaunch>
         <description
               description="Test your WPILib program with the Gazebo simulator."
               mode="run">
         </description>
         <description
               description="Test your WPILib program with the Gazebo simulator and use the debugger to debug."
               mode="debug">
         </description>
      </shortcut> -->
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="io.github.robotpy.plugins.robotpy.WPILibPythonPlugin">
      </startup>
   </extension>
</plugin>
